# .env.example
RESET_MASTER_KEY=your_secret_reset_code_here
VAPID_PUBLIC_KEY=BPvCYNyzF6nRlQKMUHnDlJeM9c4V3Z5w6xjVHvyujTe6NDR0njMagShL6yin8QMXLKiT_KB24XtiTod89twI8uQ
VAPID_PRIVATE_KEY=0TAH_n3JZcm-5JSE-7X2K33jeVZln-yjbEhzCtMv_Ps
FANTAPODIO2026_READ_WRITE_TOKEN=
